*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  background: green;
  border-bottom: 2px solid white;
}
nav h2{
  font-size: 33px;
  font-family: cursive;
  color: white;
}
.right-nav a{
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-family: cursive;
}
.right-nav {
  display: flex;
  gap: 50px;  
}


main{
  background: green;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;

}
section{
  width: 600px;

}
section h1{
  font-size: 33px;
  font-family: cursive;
  color: white;
}
section p{
  font-family: cursive;
  font-size: 14px;
  color: white;
  margin-top: 20px;
}

main img{
  width: 600px;
  border-radius: 4px;
}


footer{
  background: green;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.cart-footer{
  width: 350px;
  border-right: 2px solid white;
}
.cart-footer h1{
  font-size: 33px;
  font-family: cursive;
  color: white;

}
.cart-footer p{
  font-size: 15px;
  font-family: cursive;
  color: white;
  margin-top: 20px;
}
